body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
}
.bg-dark {
  background-color: #3d464d !important;
}
.text-primary {
  color: #ffd333 !important;
}
.btn-primary {
  color: #212529;
  background-color: #ffd333;
  border-color: #ffd333;
}
.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-square {
  width: 40px;
  height: 40px;
  margin: 5px;
}

.bg-primary {
  background-color: #ffd333 !important;
}
